@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    cursor: default;
}

.contact {
    width: 600px;
    height: 800px;
    box-shadow: 5px 5px 25px 0 #8C8C8C;
    margin: 50px auto;
}